@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
  

*,
 {
    box-sizing: border-box;
}

/* Header */

header {
    font-family: "shrikhand", cursive;
    text-align: center;
    box-shadow: 0px 0px 8px 1px  lightgrey;
    padding: 6px;
    margin: 0;
    position: relative;
}
 img {
     display: block;
     width: 100%;
     height: 60vh;
     object-fit: cover;
}

.Titre {
    background: #f6f6f6;
    padding: 1rem 1rem ;
    border-radius: 25px 25px 0 0;
    margin-top: -30px;

}

 .Titre h2 {
     font-family: "shrikhand";
     margin-left: 16px;
 }

 .Titre { position: relative;}
 .Titre i {
     font-size: 32px;
     position: absolute;
     right: 16px;
     top: 50%;
     transform: translateY(-50%);
 }
 

 /* Menus */

 .menus_carte { 
     display: flex;
     flex-direction: column;

    background-color: #f6f6f6;

    height: 100%;
    width: 100%;
    font-family: "roboto";
 }
 .menus_carte h3 {
    font-weight: normal;

     margin: 1rem;
     text-decoration: underline;
     text-underline-position: under;

 }

 .conteneur-entrées {
    box-shadow: 0 0 16px #0000002e;

     max-width: 100%;
     padding: 10px ; 
     margin: 1rem;
     background-color: white;
     border-radius: 16px 16px 16px 16px;
     height: auto;

 } 
 .conteneur-general p {
     padding: 0;
     margin: 0 0 10px 0; 
 } 
 .conteneur-general h4 {
     margin: 10px 0 5px 0;
     padding: 0;
 } 


 .conteneur-plats {
    max-width: 100%;
    height: 2rem;
    gap: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 16px 16px 16px 16px;
    padding: 10px ; 
    box-shadow: 0 0 16px #0000002e;
    height: auto;
    


}



.conteneur-desserts {
    box-shadow: 0 0 16px #0000002e;
    max-width: 100%;
    height: 2rem;
    gap: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 16px 16px 16px 16px;
    height: auto;
    padding: 10px;


}
.menus-plats p {
    align-items: center;
}

.prix {
    display: flex;
    margin-right: 10px;
}

.commander button {
    color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    box-shadow: 1px 1px 10px -3px black;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition: transform 200ms;
    margin-top: 32px;

}
.commander button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.commander {
    text-align: center ;
    margin-bottom: 3rem;

}


/* Footer */

footer { 
    background-color: #4A3F3F;
    padding: 16px 32px;
}

.omf {
    font-family: shrikhand;
    color: white;
    font-weight: 500;
}

footer p {
    color: white;
}